<!DOCTYPE html>
<html lang="en">
<head>
<title>Title of the document</title>
</head>

<body>
CULO CUKO

<p>Sigue en tiempo real la propagación y los efectos del Covid-19.</p>
<iframe frameborder='4' noresize='noresize' allowfullscreen scrolling="no" style='position: absolute; background: transparent; width: 70%; height:400%;' src="https://covid-mapa.herokuapp.com:8501/" frameborder="0"></iframe>

</body>

</html>



<!-- <html>
<head>
<title>Flask Tutorial</title>
</head>
<body>
<h1>This is the Index page</h1>
</body>
</html>  -->
